page-home {
    .hash{
        border-style: solid;
    }
    .marginTop{
        margin-top: 250px;
    }

    .btn {
        display:inline-block;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 1px solid #a3a3a3;
      }
}
